:root {
  --avatar-size: 5rem;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.App {
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.circle {
  background-color: rgb(106, 166, 190);
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}



.initials {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatSection ul, .chatSection li {
  text-align: left;
  list-style: none;
}

.chatSection p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  margin-top: 13px;
  margin-Left: 10px;
}

.message {
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.chatSection img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
